<%= simple_form_for(project, data:{ controller: "image-change", "image-change-target": "form"}) do |f| %>
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :colors %>
    <%= f.input :fonts %>
    <%= f.input :languages %>
    <%= f.input :experience %>
    <%= f.input :link %>
    <%= f.input :repo_link %>
    <%= f.input :photos, as: :file, class: "project-image-file", input_html: { "data-action": 'change->image-change#imageUpdate', multiple: true} %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% if project.photos.attached? %>
        <%# <%= cl_image_tag photo, :alttext %>
        <%#= cl_image_tag project.photo.key, alt: "#{project.name}", class: "project-image mt-5 d-block", input_html: {"data-target": "image-change.img"} %>
        <div class="image-box mt-5">
            <% project.photos.each do |photo| %>
                <%= cl_image_tag photo.key, alt: "#{project.name}", class: "project-image m-2" %>
            <% end %>
        </div>
    <% end %>
<% end %>
