<div class="case-container main-container">
    <h2> # Case Studies</h2>
    <% if current_user&.admin %>
      <%= link_to "add new project", new_project_path, class: "btn btn-success btn-sm"  %>
    <% end %>
    <div class="case-studies">
      <% @projects&.each_with_index do |project, index| %>
        <div class="project">
          <h3><%="#{index + 1}. " %><strong><%= link_to project.name, project.link, target: "_blank", class: "project-name"  %></strong></h3>
          <div class="project-flex-box">
            <% if project.photos.attached? %>
              <%# Bootstrap carousel %>
              <div id="photoCarouselPhoto" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                <div class="carousel-indicators">
                  
                  <% project.photos.length.times do |index| %>
                    <button type="button" data-bs-target="#photoCarouselPhoto" data-bs-slide-to="<%= index %>" <%=  index.zero? ? " class='active' aria-current='true'".html_safe : "" %> aria-label="Slide <%= index %>"></button>
                  <% end %>
                  
                </div>
                <div class="carousel-inner">
                <% project.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                    <%= cl_image_tag photo.key, alt: "#{project.name}", class: "project-image" %>
                  </div>
                <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#photoCarouselPhoto" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#photoCarouselPhoto" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60", alt: "#{project.name}", class: "project-image" %>
            <% end %>
            <div class="project-info">
              <ul>
                <li class="project-position">- <%= project.position %></li>
                <li class= ""><h6>Languages Used</h6>
                  <ul class="languages-container info-container">
                    
                    <% project.languages.each do |lang| %>
                      <li class="project-info-box">
                        <i class="devicon-<%= lang %>-plain"></i>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li>
                  <h6>Colors</h6>
                  <ul class="colors-container info-container">
                    <% project.colors.each do |color| %>
                      <li class="project-info-box">
                        <div class="info-circle" style="background: <%= color %>;"></div>
                        <%= color %>
                      </li>    
                    <% end %>
                  </ul>
                
                </li>
                <li><h6>Fonts</h6>
                  <ul class="fonts-container info-container">
                    
                    <% project.fonts.each do |font| %>
                      <li class="project-info-box">
                        <div class="font-circle info-circle" style="@import url('https://fonts.googleapis.com/css2?family=<%= font %>&display=swap'); font-family: <%= font %>;">Aa</div>
                        <%= font %>
                      </li>
                    <% end %>
                    
                  </ul>
                </li>
                
              </ul>
            </div>
          </div>

          
          <div class="project-experience"><i class="fas fa-quote-left"></i> <%= project.experience %> <i class="fa-solid fa-quote-right"></i></div>
          <div class="project-buttons">

            <% if project.repo_link %>
              <%= link_to project.repo_link, target: "_blank", class: "code-button" do %>
                <i class="fas fa-code"></i>
              <% end %>  
            <% end %>
            <% if current_user&.admin %>
              <%= link_to "edit", edit_project_path(project), class: "btn btn-sm btn-info"  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
