<div class="case-container">
  <div class="container pt-5">
    <h2> # Case Studies</h2>
    <div class="case-studies">
      <% @projects.each do |project| %>
        <div class="project">
          <%= image_tag "https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60", alt: "project.name" %>
        </div>
        <div class="project-info">
          <ul>
            <li><%= project.name %></li>
            <li><%= project.position %></li>
            <li>Colors
              <ul>
              <% project.colors.each do |color| %>
                <li><%= color %></li>    
              <% end %>
              </ul>
            
            </li>
            <li>Fonts
              <ul>
                
                <% project.fonts.each do |font| %>
                  <li><%= font %></li>
                <% end %>
                
              </ul>
            
            </li>
            <li><%= project.experience %></li>
          </ul>
        </div>
      <% end %>
      
    </div>

  </div>
</div>
