<!DOCTYPE html>
<html>
  <head>
    <title>Profolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="nav-bar">
      <ul class="nav-list">
        <%= link_to root_path do  %>
          <li>whoami!</li>
        <% end %>
        <%= link_to root_path do  %>
          <li>My Story</li>
        <% end %>
        <%= link_to projects_path do  %>
          <li>Case Studies</li>
        <% end %>
      </ul>
    </div>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
